<div id="saveQuoteModal" class="modal-overlay" style="display: none;">
    <div class="modal-box">
        <!-- Nagłówek -->
        <div class="modal-header">
            <h2 class="modal-title title-with-underline">Zapisz wycenę</h2>
            <button class="close-modal" id="closeSaveQuoteModal">&times;</button>
        </div>

        <!-- Krok 1 -->
        <div class="step step-select-client">
            <div class="select-client-grid">
                <div class="select-client-column left">
                    <h3 class="select-client-title">Dla nowego klienta</h3>
                    <p class="select-client-desc">Dodaj nowe zamówienie i uzupełnij dane z karty zamówienia</p>
                    <button class="create-order-btn" id="switchToAddClient">+ Dodaj nowego klienta</button>
                </div>
                <div class="select-client-column right">
                    <h3 class="select-client-title">Dla istniejącego klienta</h3>
                    <input type="text" id="clientSearchInput" class="input-small" placeholder="Szukaj klienta">
                    <div id="clientSearchResults" class="search-results-box"></div>
                    <p class="select-client-hint">
                        <i class="info-icon">ℹ️</i> Podaj przynajmniej 3 znaki imienia, nazwiska, telefonu, maila klienta, aby wyszukać go w bazie.
                    </p>
                </div>
            </div>
        </div>

        <!-- Krok 2 -->
        <div class="step step-add-client" style="display:none;">
            <div class="form-flex-container">
                <div class="form-section">
                    <label class="modal-source-label">
                        Źródło zapytania
                        <select name="quote_source" class="modal-source-select form-label" required>
                            <option value="" disabled selected hidden>Wybierz źródło zapytania</option>
                            <optgroup label="Allegro">
                                <option value="woodpower">woodpower</option>
                            </optgroup>
                            <optgroup label="Sklep internetowy">
                                <option value="PrestaShop">PrestaShop</option>
                            </optgroup>
                            <optgroup label="Pozostałe">
                                <option value="Osobiście">Osobiście</option>
                                <option value="Telefon">Telefon</option>
                                <option value="E-mail">E-mail</option>
                            </optgroup>
                            <optgroup label="Ceneo">
                                <option value="Ceneo">Ceneo</option>
                            </optgroup>
                            <optgroup label="OLX">
                                <option value="OLX">OLX</option>
                            </optgroup>
                        </select>
                    </label>
                    <label class="form-label">
                        <span>Klient <span style="color: red">*</span></span>
                        <input type="text" name="client_login" class="input-small">
                    </label>

                    <label class="form-label">
                        Imię i nazwisko
                        <input type="text" name="client_name" class="input-small">
                    </label>

                    <label class="form-label">
                        <span>Telefon <span style="color: #E2B007">*</span></span>
                        <input type="text" name="client_phone" class="input-small" pattern="[0-9]*" inputmode="numeric">
                    </label>

                    <label class="form-label">
                        <span>E-mail <span style="color: #E2B007">*</span></span>
                        <input type="email" name="client_email" class="input-small">
                    </label>
                    <p class="input-note">
                        <span style="color: red">*</span> - wymagane pola<br>
                        <span style="color: #E2B007">*</span> - jedno z pól jest wymagane
                    </p>
                </div>
            </div>
            <div id="quoteSaveFeedback"></div>
        </div>
        <!-- Krok 3 – Podsumowanie -->
        <div class="step step-summary" style="display: none;">
            <div class="save-modal-summary-section">

                <div class="summary-row">
                    <div class="summary-label">Koszt surowych:</div>
                    <div class="summary-values">
                        <span id="summary-products-brutto">0.00 PLN</span>
                        <span id="summary-products-netto">0.00 PLN netto</span>
                    </div>
                </div>

                <div class="summary-row">
                    <div class="summary-label">Koszt wykończenia:</div>
                    <div class="summary-values">
                        <span id="summary-finishing-brutto">0.00 PLN</span>
                        <span id="summary-finishing-netto">0.00 PLN netto</span>
                    </div>
                </div>

                <div class="summary-row" style="padding-bottom: 10px; border-bottom: 1px solid #000;">
                    <div class="summary-label">Koszt wysyłki:</div>
                    <div class="summary-values">
                        <span id="summary-shipping-brutto">0.00 PLN</span>
                        <span id="summary-shipping-netto">0.00 PLN netto</span>
                    </div>
                </div>

                <div class="summary-row" style="margin-bottom: 10px;">
                    <div class="summary-label">Suma zamówienia:</div>
                    <div class="summary-values">
                        <span id="summary-total-brutto">0.00 PLN</span>
                        <span id="summary-total-netto">0.00 PLN netto</span>
                    </div>
                </div>
                <button type="button" id="confirmSaveQuote">Zapisz wycenę</button>
            </div>
        </div>



        <!-- Krok 4 – Potwierdzenie -->
        <div class="step step-success" style="display: none;">
            <div class="summary-section">
                <h4 class="title-with-underline-h4">Wycena została zapisana</h4>
                <p>Wycena została pomyślnie zapisana w systemie pod numerem <strong class="quote-number-display">–</strong>.</p>
                <div class="quote-modal-actions">
                    <div class="action-row-top">
                        <button id="newQuoteBtn">Nowa wycena</button>
                        <button id="goToQuoteBtn">Przejdź do wyceny</button>
                    </div>
                    <div class="action-row-bottom">
                        <button id="closeModalBtn2">Zamknij</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
