<div class="sidebar">
    <div class="panel">
        <!-- Logo i sekcja górna -->
        <div class="logo-section">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo-crm-sidebar.svg') }}" alt="Logo CRM Sidebar">
                <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png">
                <span class="beta-tag">BETA v1.2</span>
            </div>
        </div>
        <!-- Menu głównych modułów -->
        <div class="main-modules">
            <ul class="menu-options-list">
                <!-- Dashboard -->
                <li class="menu-options {% if request.endpoint == 'dashboard' %}active{% endif %}">
                    <a href="{{ url_for('dashboard') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path class="st0" d="M16,10h-4c-.6,0-1,.4-1,1s.4,1,1,1h4c.6,0,1-.4,1-1s-.4-1-1-1Z" />
                                <path class="st0" d="M21,5.8c0-.4-.1-.8-.3-1.2-.3-.6-.7-1-1.3-1.3-.4-.2-.8-.3-1.2-.3-.4,0-.9,0-1.4,0H7.2c-.5,0-1,0-1.4,0-.4,0-.8.1-1.2.3-.6.3-1,.7-1.3,1.3-.2.4-.3.8-.3,1.2,0,.4,0,.9,0,1.4v9.6c0,.5,0,1,0,1.4,0,.4.1.8.3,1.2.3.6.7,1,1.3,1.3.4.2.8.3,1.2.3.4,0,.9,0,1.4,0h9.6c.5,0,1,0,1.4,0,.4,0,.8-.1,1.2-.3.6-.3,1-.7,1.3-1.3.2-.4.3-.8.3-1.2,0-.4,0-.9,0-1.4V7.2c0-.5,0-1,0-1.4ZM5.5,18.9c-.2,0-.3-.2-.4-.4,0,0,0-.2,0-.4,0-.3,0-.7,0-1.2V7.2c0-.6,0-.9,0-1.2,0-.3,0-.4,0-.4,0-.2.2-.3.4-.4,0,0,.2,0,.4,0,.2,0,.6,0,1,0v14c-.5,0-.8,0-1,0-.3,0-.4,0-.4,0ZM19,18c0,.3,0,.4,0,.4,0,.2-.2.3-.4.4,0,0-.2,0-.4,0-.3,0-.7,0-1.2,0h-7.8V5h7.8c.6,0,.9,0,1.2,0,.3,0,.4,0,.4,0,.2,0,.3.2.4.4,0,0,0,.1,0,.4,0,.3,0,.7,0,1.2v9.6c0,.6,0,.9,0,1.2Z" />
                                <path class="st0" d="M16,7h-4c-.6,0-1,.4-1,1s.4,1,1,1h4c.6,0,1-.4,1-1s-.4-1-1-1Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Dashboard</span>
                    </a>
                </li>
                <!-- Kalkulator -->
                <li class="menu-options {% if request.endpoint == 'calculator.calculator_home' %}active{% endif %}">
                    <a href="{{ url_for('calculator.calculator_home') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path class="st0" d="M14,22.7h-4c-5.4,0-7.8-2.3-7.8-7.8v-6C2.2,3.6,4.6,1.3,10,1.3h4c5.4,0,7.8,2.3,7.8,7.8v6c0,5.4-2.3,7.8-7.8,7.8ZM10,2.8c-4.6,0-6.2,1.6-6.2,6.2v6c0,4.6,1.6,6.2,6.2,6.2h4c4.6,0,6.2-1.6,6.2-6.2v-6c0-4.6-1.6-6.2-6.2-6.2h-4Z" />
                                <path class="st0" d="M15,10.8h-6c-1.2,0-2.2-1-2.2-2.2v-1c0-1.2,1-2.2,2.2-2.2h6c1.2,0,2.2,1,2.2,2.2v1c0,1.2-1,2.2-2.2,2.2ZM9,6.8c-.4,0-.8.3-.8.8v1c0,.4.3.8.8.8h6c.4,0,.8-.3.8-.8v-1c0-.4-.3-.8-.8-.8h-6Z" />
                                <path class="st0" d="M8.1,15c-.6,0-1-.4-1-1s.4-1,1-1h0c.6,0,1,.4,1,1s-.4,1-1,1Z" />
                                <path class="st0" d="M12,15c-.6,0-1-.4-1-1s.4-1,1-1h0c.6,0,1,.4,1,1s-.4,1-1,1Z" />
                                <path class="st0" d="M15.9,15c-.6,0-1-.4-1-1s.4-1,1-1h0c.6,0,1,.4,1,1s-.4,1-1,1Z" />
                                <path class="st0" d="M8.1,18.5c-.6,0-1-.4-1-1s.4-1,1-1h0c.6,0,1,.4,1,1s-.4,1-1,1Z" />
                                <path class="st0" d="M12,18.5c-.6,0-1-.4-1-1s.4-1,1-1h0c.6,0,1,.4,1,1s-.4,1-1,1Z" />
                                <path class="st0" d="M15.9,18.5c-.6,0-1-.4-1-1s.4-1,1-1h0c.6,0,1,.4,1,1s-.4,1-1,1Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Kalkulator produktowy</span>
                    </a>
                </li>
                <!-- Wyceny -->
                <li class="menu-options {% if request.endpoint == 'quotes.quotes_home' %}active{% endif %}">
                    <a href="{{ url_for('quotes.quotes_home') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M22.7,10c0,0,0-.1,0-.2,0,0,0,0,0,0,0,0,0-.2-.1-.2L14.5,1.5c0,0-.1-.1-.2-.1,0,0,0,0,0,0,0,0-.1,0-.2,0,0,0,0,0,0,0h-5C3.6,1.3,1.2,3.6,1.2,9v6c0,5.4,2.3,7.8,7.8,7.8h6c5.4,0,7.8-2.3,7.8-7.8v-5s0,0,0,0ZM14.8,3.8l5.4,5.4h-2.2c-2.6,0-3.2-.7-3.2-3.2v-2.2ZM15,21.3h-6c-4.6,0-6.2-1.6-6.2-6.2v-6c0-4.6,1.6-6.2,6.2-6.2h4.2v3.2c0,3.4,1.3,4.8,4.8,4.8h3.2v4.2c0,4.6-1.6,6.2-6.2,6.2Z" />
                                <path d="M13,12.3h-6c-.4,0-.8.3-.8.8s.3.8.8.8h6c.4,0,.8-.3.8-.8s-.3-.8-.8-.8Z" />
                                <path d="M11,16.3h-4c-.4,0-.8.3-.8.8s.3.8.8.8h4c.4,0,.8-.3.8-.8s-.3-.8-.8-.8Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Wyceny</span>
                    </a>
                </li>
                <!-- Klienci -->
                <li class="menu-options {% if request.endpoint == 'clients' %}active{% endif %}">
                    <a href="{{ url_for('clients') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.2,11.6s0,0,0,0c0,0-.1,0-.2,0-2.9,0-5.1-2.4-5.1-5.2S6.1,1.3,9,1.3s5.2,2.3,5.2,5.2c0,2.8-2.2,5.1-5,5.2,0,0,0,0,0,0ZM9,2.8c-2,0-3.7,1.7-3.7,3.7s1.6,3.6,3.5,3.7c0,0,.2,0,.3,0,2,0,3.5-1.7,3.5-3.7,0-2-1.7-3.7-3.7-3.7ZM16.6,11.7c2.3,0,4.1-2,4.1-4.2s-1.9-4.2-4.2-4.2-.8.3-.8.8.3.8.8.8c1.5,0,2.8,1.2,2.8,2.8s-1.1,2.7-2.6,2.7c-.1,0-.2,0-.4,0-.4,0-.7.4-.6.8,0,.4.5.7.9.7,0,0,0,0,0,0s0,0,0,0ZM9.2,22.6c-2,0-3.9-.5-5.4-1.5-1.4-.9-2.1-2.2-2.1-3.5,0-1.4.8-2.6,2.1-3.6,0,0,0,0,0,0,3-2,7.9-2,10.8,0,1.4.9,2.1,2.2,2.1,3.6,0,1.4-.8,2.6-2.1,3.6-1.5,1-3.5,1.5-5.4,1.5ZM4.6,15.2c-1,.6-1.5,1.5-1.5,2.3,0,.9.5,1.7,1.5,2.3,2.5,1.7,6.7,1.7,9.2,0,1-.6,1.5-1.5,1.5-2.3,0-.9-.5-1.7-1.5-2.3-2.5-1.7-6.7-1.7-9.2,0ZM18.5,20.7c.9-.2,1.6-.5,2.3-1,.9-.7,1.5-1.7,1.5-2.7,0-1-.5-2-1.5-2.7-.6-.5-1.4-.8-2.2-1-.4,0-.8.2-.9.6,0,.4.2.8.6.9.7.1,1.2.4,1.6.7.6.4.9,1,.9,1.5,0,.6-.3,1.1-.9,1.5-.5.3-1,.6-1.7.7-.4,0-.7.5-.6.9,0,.4.4.6.7.6s.1,0,.2,0Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Klienci</span>
                    </a>
                </li>
                <!-- Produkcja -->
                <li class="menu-options {% if request.endpoint == 'production.dashboard' %}active{% endif %}">
                    <a href="{{ url_for('production.dashboard') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <!-- Deska -->
                                <rect class="st0" x="3" y="11" width="18" height="2"/>
                                <!-- Ostrze piły z ząbkami -->
                                <path class="st0" d="M5,10 L6,9 L7,10 L8,9 L9,10 L10,9 L11,10 L12,9 L13,10 L14,9 L15,10 L16,9 L17,10 L18,9 L19,10 L19,11 L5,11 Z"/>
                                <!-- Rękojeść -->
                                <rect class="st0" x="19" y="8" width="2" height="8" rx="1"/>
                            </svg>
                        </span>
                        <span class="option-txt">Produkcja</span>
                    </a>
                </li>
                <!-- Statystyki -->
                <li class="menu-options {% if request.endpoint == 'analytics' %}active{% endif %}">
                    <a href="{{ url_for('analytics.analytics_dashboard') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path class="st0" d="M21,20H6.2c-1.2,0-1.9,0-2.6-.3-.6-.3-1-.7-1.3-1.3-.3-.6-.3-1.3-.3-2.6v-1.8h0V4c0-.6.4-1,1-1s1,.4,1,1v7.9l2.2-1.8c.8-.6,1.2-1,1.8-1.2.7-.2,1.4-.2,2,0,.6.2.9.6,1.7,1.3.5.5.8.8,1,.9.2,0,.5,0,.7,0,.2,0,.5-.4,1.1-.8l5.8-5.1c.4-.4,1-.3,1.4,0,.4.4.3,1,0,1.4l-5.8,5.1c-.8.7-1.2,1.1-1.8,1.2-.7.2-1.4.2-2.1,0-.6-.2-1-.6-1.7-1.4-.5-.5-.8-.8-1-.9-.2,0-.5-.1-.7,0-.2,0-.5.4-1.1.8l-3.5,2.9v1.3c0,.9,0,1.4.1,1.7,0,.2.2.3.4.4.2.1.8.1,1.7.1h14.8c.6,0,1,.4,1,1s-.4,1-1,1Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Statystyki</span>
                    </a>
                </li>
                <!-- Raport -->
                <li class="menu-options {% if request.endpoint == 'reports.reports_home' %}active{% endif %}">
                    <a href="{{ url_for('reports.reports_home') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path class="st0" d="M21.4,2.6c-.9-.9-2.1-1.4-3.3-1.4,0,0,0,0,0,0s0,0,0,0H6C3,1.3,1.2,3,1.2,6v15c0,.7.4,1.3,1,1.6.6.3,1.3.2,1.8-.2l1.7-1.3c.1,0,.2,0,.3,0l1.7,1.7c.3.3.8.5,1.2.5s.9-.2,1.2-.5l1.7-1.7c0,0,.2,0,.3,0l1.7,1.3c.5.4,1.2.5,1.8.2.6-.3,1-.9,1-1.6v-9.2h2.7c2,0,3.3-1.3,3.3-3.3v-2.4c0-1.3-.5-2.5-1.4-3.4ZM15.2,21c0,.1,0,.2-.1.2,0,0-.2,0-.3,0l-1.7-1.3c-.7-.5-1.7-.5-2.3.2l-1.7,1.7c0,0-.3,0-.4,0l-1.7-1.7c-.3-.3-.8-.5-1.2-.5s-.7.1-1.1.4l-1.7,1.3c-.1,0-.2,0-.3,0,0,0-.1,0-.1-.2V6c0-2.2,1-3.2,3.2-3.2h9.6s0,0,0,.1c0,0,0,.2-.1.3,0,0,0,.2,0,.3,0,.2,0,.4,0,.5,0,0,0,0,0,0h0v17ZM21.2,8.4c0,1.2-.7,1.8-1.8,1.8h-2.7v-6.2c0-.7.6-1.3,1.3-1.3.9,0,1.7.3,2.3.9.6.6,1,1.4,1,2.3v2.4Z" />
                                <path class="st0" d="M12,12.3h-3c-.4,0-.8.3-.8.8s.3.8.8.8h3c.4,0,.8-.3.8-.8s-.3-.8-.8-.8Z" />
                                <path class="st0" d="M12,8.3h-3c-.4,0-.8.3-.8.8s.3.8.8.8h3c.4,0,.8-.3.8-.8s-.3-.8-.8-.8Z" />
                                <path class="st0" d="M6,12h0c-.6,0-1,.4-1,1s.5,1,1,1,1-.4,1-1-.4-1-1-1Z" />
                                <path class="st0" d="M6,8h0c-.6,0-1,.4-1,1s.5,1,1,1,1-.4,1-1-.4-1-1-1Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Raport sprzedażowy</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Sekcja extra-modules (np. "Zgłoś błąd" i "Pomoc") -->
        <div class="extra-modules">
            <ul class="menu-options-list">
                <!-- Zgłoś błąd -->
                <li class="menu-options {% if request.endpoint == 'issue' %}active{% endif %}">
                    <a href="{{ url_for('issue') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path class="st0" d="M12,14h0c-.6,0-1,.4-1,1h0c0,.7.4,1.1,1,1.1h0c.3,0,.5-.1.7-.3.2-.2.3-.4.3-.7h0c0-.7-.4-1.1-1-1.1Z" />
                                <path class="st0" d="M12,13c.6,0,1-.4,1-1v-4c0-.6-.4-1-1-1s-1,.4-1,1v4c0,.6.4,1,1,1Z" />
                                <path class="st0" d="M21.5,15.6c-.2-.5-.6-1.2-1.1-1.9l-4.8-8.4c-.4-.8-.8-1.4-1.1-1.9-.3-.5-.7-.9-1.3-1.2-.8-.3-1.7-.3-2.4,0-.5.2-.9.7-1.3,1.2-.3.5-.7,1.1-1.1,1.9L3.5,13.7c-.4.8-.8,1.4-1.1,1.9-.2.5-.4,1.1-.4,1.7,0,.8.5,1.6,1.2,2.1.5.4,1.1.5,1.6.5.6,0,1.3,0,2.2,0h9.7c.9,0,1.6,0,2.2,0,.6,0,1.2-.2,1.6-.5.7-.5,1.1-1.3,1.2-2.1,0-.6-.1-1.2-.4-1.7ZM19.5,17.8s-.2.1-.6.1c-.5,0-1.1,0-2,0H7.2c-.9,0-1.6,0-2,0-.5,0-.6-.1-.6-.1-.2-.2-.4-.4-.4-.7,0,0,0-.2.2-.6.2-.4.5-1,1-1.8l4.8-8.4c.5-.8.8-1.3,1-1.7.3-.4.4-.5.5-.5.3-.1.6-.1.8,0,0,0,.2.1.5.5.3.4.6.9,1,1.7l4.8,8.4c.5.8.8,1.3,1,1.8.2.4.2.6.2.6,0,.3-.2.5-.4.7Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Zgłoś błąd/propozycję</span>
                    </a>
                </li>
                <!-- Pomoc -->
                <li class="menu-options {% if request.endpoint == 'help' %}active{% endif %}">
                    <a href="{{ url_for('help') }}">
                        <span class="sidebar-icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path class="st0" d="M12,22c-5.5,0-10-4.5-10-10S6.5,2,12,2s10,4.5,10,10-4.5,10-10,10ZM12,4c-4.4,0-8,3.6-8,8s3.6,8,8,8,8-3.6,8-8-3.6-8-8-8ZM12,17c-.6,0-1-.4-1-1v-5c0-.6.4-1,1-1s1,.4,1,1v5c0,.6-.4,1-1,1ZM12,9.1c-.6,0-1.1-.4-1.1-1h0c0-.7.4-1.1,1-1.1s1.1.4,1.1,1h0c0,.7-.4,1.1-1,1.1Z" />
                            </svg>
                        </span>
                        <span class="option-txt">Pomoc</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Sekcja skrótów (shorts) -->
        <div class="shorts">
            <div class="shorts-title">Skróty</div>
            <ul class="shorts-options-list">
                <li class="shorts-options">
                    <a href="https://panel-f.baselinker.com/orders.php#status:all" target="_blank" class="shorts-link">
                        <div class="short-main">
                            <img class="short-icon" src="{{ url_for('static', filename='icons/shorts-icon/baselinker.svg') }}" alt="Baselinker">
                            <span class="short-txt">Baselinker</span>
                        </div>
                        <img class="link-icon" src="{{ url_for('static', filename='icons/shorts-icon/link.svg') }}" alt="Link">
                    </a>
                </li>
                <li class="shorts-options">
                    <a href="https://app.responso.com/tickets" target="_blank" class="shorts-link">
                        <div class="short-main">
                            <img class="short-icon" src="{{ url_for('static', filename='icons/shorts-icon/responso.svg') }}" alt="Responso">
                            <span class="short-txt">Responso</span>
                        </div>
                        <img class="link-icon" src="{{ url_for('static', filename='icons/shorts-icon/link.svg') }}" alt="Link">
                    </a>
                </li>
                <li class="shorts-options">
                    <a href="https://woodpower.pl" target="_blank" class="shorts-link">
                        <div class="short-main">
                            <img class="short-icon" src="{{ url_for('static', filename='icons/shorts-icon/woodpower.svg') }}" alt="woodpower.pl">
                            <span class="short-txt">woodpower.pl</span>
                        </div>
                        <img class="link-icon" src="{{ url_for('static', filename='icons/shorts-icon/link.svg') }}" alt="Link">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Sekcja stopki -->
    <div class="footer">
        <div class="user">
            <div class="avatar">
                <img src="{{ user_avatar or url_for('static', filename='images/avatars/default_avatars/avatar1.svg') }}" alt="User Avatar">
            </div>
            <div class="user-txt">
                <span class="welcome-txt">Witaj ponownie 👋</span>
                <span class="user-name">{{ user_name }}</span>
            </div>
        </div>

        <!-- Nowy fragment do obsługi opcji w stopce -->
        <div class="footer-options-container">
            <!-- Ikona footer-options.svg -->
            <img src="{{ url_for('static', filename='icons/sidebar-icon/footer-options.svg') }}"
                 alt="Opcje"
                 class="footer-options-icon">
            <!-- Rozwijany panel z linkami -->
            <div class="footer-options-panel">
                <a href="{{ url_for('settings') }}" class="footer-option">Ustawienia</a>
                <a href="{{ url_for('logged_out') }}" class="footer-option">Wyloguj się</a>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/tracking.js') }}"></script>
</div>
