<!-- Widget Changelog -->
<div id="changelog-widget" class="widget-card changelog-widget">
    <div class="widget-title">📢 Nowości w aplikacji</div>
    <div class="changelog-body">

        <div class="changelog-entry open">
            <div class="changelog-date toggle-entry">
                <span>30.06.2025</span>
                <img src="/static/icons/sidebar-icon/footer-options.svg" alt="Rozwiń" class="changelog-chevron">
            </div>
            <div class="changelog-list animated-toggle">
                <div class="changelog-section">
                    <strong>Dodano</strong>
                    <ul>
                        <li>Moduł logowań zdarzeń aplikacji</li>
                    </ul>

                    <strong>Naprawiono</strong>
                    <ul>
                        <li>Poprawna wysyłka województwa do BL</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="changelog-entry">
            <div class="changelog-date toggle-entry">
                <span>19.06.2025</span>
                <img src="/static/icons/sidebar-icon/footer-options.svg" alt="Rozwiń" class="changelog-chevron">
            </div>
            <div class="changelog-list animated-toggle">
                <strong>Zmieniono</strong>
                <div class="changelog-section">
                    <ul>
                        <li>Sposób akceptacji wyceny - od teraz klient sam wpisuje dane do dostawy czy dane klienta</li>
                        <li>Okno szcegółów oraz edycji klienta zostały scalone w jedną opcję</li>
                    </ul>

                    <strong>Naprawiono</strong>
                    <ul>
                        <li>Okno edycji klientów - poprawnie wyświetla wyceny przypisane do klienta, przejście do nich.</li>
                        <li>Po wyborze OLX w trakcie zapisu wyceny nie jest wymagany mail, ani numer telefonu.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="changelog-entry">
            <div class="changelog-date toggle-entry">
                <span>18.06.2025</span>
                <img src="/static/icons/sidebar-icon/footer-options.svg" alt="Rozwiń" class="changelog-chevron">
            </div>
            <div class="changelog-list animated-toggle">
                <div class="changelog-section">
                    <strong>Dodano</strong>
                    <ul>
                        <li>Możliwość wpisania własnego kuriera oraz kosztów podczas tworzenia wyceny</li>
                    </ul>
                </div>
                <div class="changelog-section">
                    <strong>Zmieniono</strong>
                    <ul>
                        <li>Podgląd podstawowych informacji w trakcie tworzenia wyceny</li>
                        <li>Wygląd formularza wyceny/wyboru kuriera</li>
                    </ul>
                </div>
                <div class="changelog-section">
                    <strong>Naprawiono</strong>
                    <ul>
                        <li>Wycena niekompletna sprawia wyłączenie przycisków zapisu lub wyceny wysyłki</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="changelog-entry">
            <div class="changelog-date toggle-entry">
                <span>13.06.2025</span>
                <img src="/static/icons/sidebar-icon/footer-options.svg" alt="Rozwiń" class="changelog-chevron">
            </div>
            <div class="changelog-list animated-toggle">
                <div class="changelog-section">
                    <strong>Dodano</strong>
                    <ul>
                        <li>Mozliwość edycji ilości produktów w wycenie</li>
                        <li>Widok cen oraz wartości wariantów</li>
                        <li>Mozliwość zaakceptowania oferty przez handlowca po stronie szczegółów wyceny</li>
                        <li>Wyświetlanie ilości produktów na szczegółach wyceny oraz wysyłka informacji do baselinkera</li>
                    </ul>
                </div>
                <div class="changelog-section">
                    <strong>Naprawiono</strong>
                    <ul>
                        <li>Ilość oraz kwoty produktów są teraz poprawnie przekazywane do zamówienia w Baselikerze</li>
                        <li>Błąd z wyświetlaniem ilości produktów w szczegółach wyceny</li>
                        <li>Kopiowanie grupy cenowej do nowych produktów</li>
                        <li>Zamówienie do BL nie wysyła już numeru wyceny do numeru wew. zam.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>