{% extends "base_auth.html" %}

{% block title %}Hasło zresetowane – Wood Power CRM{% endblock %}

{% block content %}
<div class="login-block" style="max-width: 400px; text-align: center;">
    <h2 class="txt-login title-with-underline">Hasło zresetowane 🔒</h2>
    <p>Hasło zostało poprawnie zresetowane, wróć na stronę logowania i zaloguj się nowym hasłem.</p>
    <div class="bottom-login" style="margin-top: 20px;">
        <a href="{{ url_for('login') }}" class="login-button" style="text-decoration: none; text-align: center;">
            <span class="button-txt">Wróć do logowania</span>
        </a>
    </div>
</div>
{% endblock %}