{% extends "base_auth.html" %}

{% block title %}Resetuj hasło – Wood Power CRM{% endblock %}

{% block content %}
<div class="login-block">
    <h2 class="txt-login title-with-underline">Zresetuj hasło 🔓</h2>
    <form method="POST" action="{{ url_for('reset_password_request') }}" class="inputs">

        <div class="input">
            <!-- Dodajemy warunkowo klasę .error, jeśli istnieje email_error -->
            <div class="input-frame static
                 {% if email_error %}error{% endif %}
                 {% if email_value|default('') %}has-content{% endif %}"
                 id="emailFrame"
                 data-server-error="{{ email_error|default('') }}">

                <label class="label-txt" for="email">Adres e-mail</label>
                <input type="email"
                       id="email"
                       name="email"
                       required
                       value="{{ email_value|default('') }}" />
            </div>

            {% if email_error %}
            <p class="error-message">{{ email_error }}</p>
            {% else %}
            <p class="error-message" style="display: none;"></p>
            {% endif %}
        </div>

        <div class="bottom-login">
            <button type="submit" class="login-button disabled" disabled>
                <span class="button-txt">Zresetuj hasło</span>
            </button>
            <p>
                <a href="{{ url_for('login') }}" class="password-reset-txt">Wróć do strony logowania</a>
            </p>
        </div>
    </form>
</div>
{% endblock %}
