{% extends "base_auth.html" %}

{% block title %}Token wygasł – Wood Power CRM{% endblock %}

{% block content %}
<div class="login-block" style="max-width: 400px; text-align: center;">
  <h2 class="txt-login title-with-underline">Link wygasł 😭</h2>
  <p>Link resetujący hasło wygasł lub został już użyty. Przejdź do strony logowania lub zleć ponownie reset hasła.</p>
  <div class="bottom-login">
    <a href="{{ url_for('login') }}" class="login-button" style="text-decoration: none; text-align: center;">
      <span class="button-txt">Wróć do logowania</span>
    </a>
  </div>
</div>
{% endblock %}